<section>
  <div class="container py-5">
    <h2 class="text-center py-4 header-h2">انضم إلى آلاف المتعلمين الذين يحققون أهدافهم</h2>

    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="testimonial-card">
                            <div class="card-pic">
                              <img src="assets/1.png" alt="Daniela">
                            </div>
                            <img src="assets/Ribbon.png" alt="stars">
                            <h5 class="text-primary">Daniela Turk</h5>
                            <p class="fw-bold">Business Administration</p>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-card bg-primary text-white">
                          <div class="card-pic">
                            <img src="assets/2.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                            <h5>Ahmed Raouf</h5>
                            <p class="fw-bold">Engineering University</p>
                            <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-card">
                          <div class="card-pic">
                            <img src="assets/3.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                          <h5 class="text-primary">Lydia Anas</h5>
                            <p class="fw-bold">Frontend Engineer</p>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="testimonial-card">
                          <div class="card-pic">
                            <img src="assets/1.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                          <h5 class="text-primary">Omar Khaled</h5>
                            <p class="fw-bold">Software Engineer</p>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="testimonial-card bg-primary text-white">
                        <div class="card-pic">
                          <img src="assets/2.png" alt="Daniela">
                        </div>
                        <img src="assets/Ribbon.png" alt="stars">
                        <h5>Ahmed Raouf</h5>
                          <p class="fw-bold">Engineering University</p>
                          <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                      </div>
                  </div>
                    <div class="col-md-4">
                        <div class="testimonial-card">
                          <div class="card-pic">
                            <img src="assets/3.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                          <h5 class="text-primary">Sara Mahmoud</h5>
                            <p class="fw-bold">UI/UX Designer</p>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
  </div>
</section>


