<footer>
  <div class="container-fluid pt-3 pb-5">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-md-6">
          <div class="row text-end">
            <h3 class="py-2 head-line">اكتشف المزيد من المهارات وتعلم معنا</h3>
            <p class="py-3 p-color">سارع بالحصول على شهادتك</p>
            <div class="col-md-6 text-end footer-content">
              <h5>القانونية وإمكانية الوصول</h5>
              <p class="">الشروط والأحكام</p>
              <p class="">سياسة الخصوصية</p>
            </div>
            <div class="col-md-6 text-end footer-content">
              <h5>عن مخيخ</h5>
              <p class="">من نحن</p>
              <p class="">اراء العملاء</p>
              <p class="">تواصل معنا</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 footer-image d-flex justify-content-start align-items-end"
        >
          <img
            src="assets/icons-app-store-google-play.png"
            alt=""
          />
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid pt-3 pb-5">
    <div class="container">
      <div class="d-flex justify-content-between  flex-row-reverse">
        <div class="footer-logo text-end">
          <img src="assets/Logo AR.png" alt="logo" >
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-sharp fa-solid fa-globe me-2"></i> <!-- مسافة بين الأيقونة والنص -->
          <span>English</span>
        </div>

      </div>
    </div>
  </div>
</footer>
