.menu-1 .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: transparent;
  border-bottom: 2px solid black;

}

.menu-1 .nav-link{
  color: gray;
}
.menu-1 .nav-pills .nav-link {
  border-radius: 0;

}

.tab-content{
  background-color: #eff3f6;
}


.tab-content .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
background-color: #2d91ee;
color: white;
padding: 15px;
}
.tab-content .nav-link{
color: black;
background-color: white;
margin: 0 5px;
padding: 15px;
}

.tab-content .nav-pills .nav-link {
  border-radius: 999px;

}
.row > *{
  padding: 0 ;
}
