<app-second-nav></app-second-nav>


<div class="hidden-sec">
  <app-courses></app-courses>
  <div class="container  pt-5">
    <div class="row">
      <div class="col-md-4 ">
        <div class="d-flex">
          <div><img src="assets/Frame.png" alt=""></div>
          <div class="ps-4">
            <h2> Welcome, Name </h2>
            <p>UX Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-header-section></app-header-section>
<app-continue-learning></app-continue-learning>
<app-recommended-videos></app-recommended-videos>
<app-featured-courses></app-featured-courses>

