<app-second-nav></app-second-nav>


<div class="hidden-sec">
  <app-courses></app-courses>
  <div class="container-fluid px-4 pt-5">
    <div class="row">
      <div class="col-md-4 ">
        <div class="d-flex">
          <div><img src="assets/Frame.png" alt=""></div>
          <div class="px-4">
            <h2> {{ "secondHome.Welcome, Name" | transloco }} </h2>
            <p>{{ "secondHome.UX Designer" | transloco }}</p>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-second-home-header></app-second-home-header>
<app-continue-learning></app-continue-learning>
<app-recommended-videos></app-recommended-videos>
<app-featured-courses></app-featured-courses>

