<section class="pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-around flex-wrap">
        <a routerLink="development-course"><p class="px-2" >Development</p></a>
        <a routerLink="finance-course"> <p class="px-2">Finance & Accounting</p></a>
        <a routerLink="it-course"> <p class="px-2">IT & Software</p> </a>
        <a routerLink="design-course"><p class="px-2">Design</p></a>
      </div>
      <div class="col-md-6 d-flex justify-content-around flex-wrap">
        <a routerLink="business-course"><p class="px-2">Business</p></a>
        <a routerLink="marketing-course"><p class="px-2">Marketing</p></a>
        <a routerLink="health-course"><p class="px-2">Health & Fitness</p></a>
        <a routerLink="offer-course"><p class="px-2">Offer Productivity</p></a>

      </div>
    </div>
  </div>
</section>
